.slide-animate-container {
  position:relative;
  background:white;
  min-height:500px;
  overflow:hidden;
  padding: 10px;
}

.slide-animate {
  
}

.slide-animate.ng-enter, .slide-animate.ng-leave {
  -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;

  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  display:block;
  
}

.slide-animate.ng-enter {
  width:100%;
  left:-300px;
}
.slide-animate.ng-enter.ng-enter-active {
  left:0;
}

.slide-animate.ng-leave {
  left:100px;
}
.slide-animate.ng-leave.ng-leave-active {
  left:100%;
}